# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

JWT_SECRET="ez69JhbGciOiJIfjahbfjdagzbjhiU7Y1uyT67tgyuikL8guyhuJH22GJHHGD43FHEUA9jktZSI6IkphdmFJblVzZSIsImV4cCI6MTcxMzc5ODUzNSwia3WF0IjoxNzEzNzk4NTM1fQ.tZ6QYdpoKd2PmOL4-jlvQ_h6l5ipYfmklKFPIWQPLKOAZHGC4"